<!DOCTYPE html>
<html>
  <head>
    <title>Foodlike</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link href="https://use.fontawesome.com/releases/v6.1.2/css/all.css" rel="stylesheet">
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <ul class="header-menus">
        <% if user_signed_in? %>
          <li>
            <%= link_to("foodlikeとは","/about") %>
          </li>
          <li>
            <%= link_to("foodレポ", "/posts/index") %>
          </li>
          <li>
            <%= link_to("新規投稿", "/posts/new") %>
          </li>
          <li>
            <%= link_to("マイページ", "/users/#{current_user.id}") %>
          </li>
          <li>
            <%= link_to("ご意見箱", "/contacts/new") %>
          </li>
          <li>
            <%= button_to 'ログアウト', destroy_user_session_path, { method: :delete, form: { data: { turbo_confirm: 'ログアウトしてもよろしいですか？' }}} %>        
          </li>  
        <% else %>
          <li>
            <%= link_to("foodlikeとは", "/about") %>
          </li>
          <li>
            <%= link_to("foodレポ", "/posts/index") %>
          </li>
          <li>
            <%= link_to("ログイン", "/users/sign_in") %>
          </li>
          <li>
            <%= link_to("新規登録", "/users/sign_up") %>
          </li>
          <li>
            <%= link_to("ご意見箱", "/contacts/new") %>
          </li>
        <% end %>
      </ul>
    </header>
    
      <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= flash[:alert] %>
    
    <%= yield %>
    
  </body>
</html>
